[Desktop Entry]
Name=Alou
Comment=Alou development toolbox
Exec=alou-gui
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Development;Utility;